.class-red {
    width: 100px;
    height: 100px;
    background-color: red;
}
.class-red-50 {
    width: 100px;
    height: 100px;
    background-color: rgb(255 0 0 / 50%);
}
.class-blue {
    width: 100px;
    height: 100px;
    background-color: blue;
}
.class-title {
    font-weight: bold;
    margin-bottom: 20px;
    color:blueviolet;
}